In [2]:
import pandas as pd

In [3]:
path_main = "../df_main.csv"
df = pd.read_csv(path_main)
df

               Stat           Burnley   Manchester City
0        Possession               35%               65%
1  Passing Accuracy  313 of 395 — 79%  89% — 655 of 740
2   Shots on Target      1 of 6 — 17%     47% — 8 of 17
3             Saves      5 of 8 — 62%     100% — 1 of 1
4             Cards               NaN               NaN

In [7]:
path_extra = "../df_extra.csv"
df_extra = pd.read_csv(path_extra)
df_extra

             Stat  Burnley  Manchester City
0           Fouls       11                8
1         Corners        6                5
2         Crosses        7               15
3         Touches      496              835
4         Tackles       12               17
5   Interceptions        7                4
6     Aerials Won       13               13
7      Clearances       16                7
8        Offsides        0                1
9      Goal Kicks        5                7
10      Throw Ins       15               13
11     Long Balls       65               77